[submodule "static/scss/2-vendors/bitters"]
	path = static/scss/2-vendors/bitters
	fetchrecursesubmodules = true
	ignore = all
	update = merge
[submodule "static/scss/2-vendors/bourbon"]
	path = static/scss/2-vendors/bourbon
	fetchrecursesubmodules = true
	ignore = all
	update = merge
[submodule "static/scss/2-vendors/neat"]
	path = static/scss/2-vendors/neat
	update = merge
	ignore = all
	fetchrecursesubmodules = true
[submodule "static/scss/2-vendors/normalize.css"]
	path = static/scss/2-vendors/normalize.css
	fetchrecursesubmodules = true
	ignore = all
	update = merge
